<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ film.title }}</title>
</head>
<body>
<h1>{{ film.title }}</h1>
<p>{{ film.description }}</p>

<p>{{ film.title }}</p>&
<a href="{{ asset('uploads/brochures/' ~ film.brochure) }}">View brochure (PDF)</a>
<br><br><br>
<img src="{{ asset('uploads/brochures/' ~ film.brochure) }}"></img>
<video width="640" height="480"  controls src="{{ asset('uploads/brochures/' ~ film.video) }}"></video>

<a href="{{ path('films') }}">Retour</a>
</body>
</html>